/*--------------------------------------------*/
/*  BASIC SETUP*/
/*--------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*--------------------------------------------*/
/*REUSABLE COMPONNENT*/
/*--------------------------------------------*/

h1{
    font-weight: 800;
    font-size: 220%;
    color: #000000;
}

h3{
    font-weight: 400;
    font-size: 100%;
    padding-top: 25px;
}
h5{
    font-weight: 400;
    font-size: 100%;
}
h6{
    font-weight: 400;
    font-size: 60%;
    color: gray;
}
p{
    font-weight: 400;
    font-size: 80%;
}
.container{
    margin-bottom: 80px;
}
section{
    margin-bottom: 150px;
}
.section-title{
    text-align: center;
}
.primary_btn{
   background-color: #21B573;
    color: #fff;
    font-weight: 400;
    font-size: 60%;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    
}
button:focus{
    outline: none;
}
footer{
    text-align: center;
}

/*--------------------------------------------*/
/*Banner Section*/
/*--------------------------------------------*/
.navbar-brand img{
    width: 160px;
}
.banner-section{
    background-color: #F0FFF0;
}
.banner-img{
    width: 100%;
}
.span{
    color: #DF615C;
}
span{
    color: #21B573;
}


/*--------------------------------------------*/
/*Count Section*/
/*--------------------------------------------*/

.count-section img{
    width: 100px;
    height: 100px;
}

.count-content{
    text-align: center;
}
/*--------------------------------------------*/
/*Course Section*/
/*--------------------------------------------*/
.card,.card-image{
    padding: 10px;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-body{
    padding: 10px;
}
.card-footer{
    border: none;
    background-color: #fff;
}
.card-icon img{
    width: 20px;
}
small{
    font-size: 60%;
}
.person-image{
    width: 150px;
}

